## Auth Keys
keys.sh

## Data
*.json
data/*
!data/.gitkeep
budget.db
budget.txt

## Virtual Environment
venv/*
!venv/.gitkeep

## Python-related
.py
.mypy_cache/
__pycache__/

## Jetbrains
.idea/

##
build/


# Splitwise
/splitwise-exporter.sh
/_OLD_splitwise-export.csv
splitwise-export-clean.csv
splitwise-export.csv
/*.csv
